<mat-card class="exhibition-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title class="card-title">{{ exhibition.title }}</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <img mat-card-image [src]="exhibition.image_url" [alt]="'Photo of ' + exhibition.title" />

    <p class="status">
      {{ 'exhibitions.card.status' | translate }}:
      <strong>{{ exhibition.status }}</strong>
    </p>

    <p class="description">
      {{ exhibition.short_description }}
    </p>
  </mat-card-content>

  <mat-card-footer class="card-footer">
    <a class="details-link" [href]="exhibition.web_url" target="_blank">
      {{ 'exhibitions.card.details' | translate }}
    </a>
    <p class="date-range">
      {{ exhibition.aic_start_at | date: 'MMM d, y' }} -
      {{ exhibition.aic_end_at | date: 'MMM d, y' }}
    </p>
  </mat-card-footer>
</mat-card>
